@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;600;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  padding: 11px 16px;
  border-radius: 4px;
  background: #20AD96;
  cursor: pointer;
}

/*-------------------- nav section --------------------*/
nav {
  padding: 16px 0;
}

nav .flex {
  gap: 30px;
}

nav .flex li a {
  color: #4A556C;
  font-size: 15px;
  letter-spacing: -0.3px;
}

nav .btn a {
  color: #FFF !important;
  font-size: 14px;
  font-weight: 600;
}

/*-------------------- clients review section --------------------*/
#clients_review {
  background-color: #FAF8F6;
  padding: 120px 0 220px 0;
}

#clients_review h1 {
  color: #333461;
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: -0.48px;
  margin-bottom: 37px;
}

#clients_review .review_cart {
  gap: 37px;
}

#clients_review .review_cart .cart {
  background: #FFF;
  box-shadow: 0px 96px 96px 0px rgba(177, 186, 200, 0.12);
  padding: 48px;
}

#clients_review .cart p {
  color: #4A556C;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.72px;
}

#clients_review .cart h5 {
  color: #333461;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.72px;
  margin: 15px 0;
}

#clients_review .cart .img {
  width: 69px;
  height: 70px;
}
#clients_review .cart .star {
  margin-top: 15px;
}

/*-------------------- Blogs section --------------------*/
#blogArticles {
  margin: 97px auto 65px auto;
}

#blogArticles h2 {
  width: 680px;
  color: #333461;
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: -0.48px;
  margin: 0 auto 65px auto;
  text-wrap: wrap;
}


.all_blog .blog {
  max-width: 356px;
  flex-direction: column;
  border: 1px solid #EDEFF5;
  background: #FFF;

}

.all_blog .blog .blog_text {
  padding: 24px 28px;
}


.all_blog .blog h3 {
  color: #333461;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.72px;
}

.all_blog .blog p {
  margin-top: 12px;
  color: #4A556C;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.32px;
}

#blogArticles .btn {
  border: none;
  display: block;
  margin: 55px auto 0 auto;
  /* display: flex; */
  width: 250px;
  padding: 9px 16px;
  /* justify-content: center;
  align-items: center; */
  color: #FFF;
  font-size: 14px;
}

@media only screen and (max-width: 576px) {
  #blogArticles h2 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.32px;
  }

  #blogArticles .flex {
    flex-direction: column;
    gap: 30px;
  }

  /* .all_blog .blog {
      width: calc(50% - 10px);
    } */
}



/*-------------------- online session --------------------*/

#online_session {
  margin-bottom: 96px;
}

#online_session .container {
  border-radius: 24px;
  background: #FAF8F6;
  box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.04);
  gap: 30px;
}

#online_session .online_session_left {
  margin-left: 64px;
}

.online_session_left h2 {
  color: #333461;
  font-size: 36px;
  font-weight: 800;
}

.online_session_left p {
  color: rgba(74, 85, 108, 0.50);
  font-family: Inter;
  font-size: 20px;
  line-height: 30px;
  margin: 20px 0 40px 0;
}

.online_session_left .btn {
  color: #FFF;
  font-size: 14px;
  width: 250px;
  border: none;
}

.online_session_right img {
  margin-top: 48px;
}

/*-------------------- top footer section  --------------------*/
#top_footer_section {
  background: #FAF8F6;
}

.top_footer {
  padding: 48px 0;
}

.top_footer .left h2 {
  color: #333461;
  font-size: 30px;
  font-weight: 800;
  line-height: 38px;
}

.top_footer .left p {
  color: #4A556C;
  font-size: 20px;
  line-height: 30px;
  margin-top: 16px;
}

.top_footer .right input {
  width: 280px;
  border-radius: 8px;
  border: 1px solid #D0D5DD;
  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  padding: 10px 14px;
  font-size: 16px;
  outline: none;
}

.top_footer .right input::placeholder {
  color: rgba(74, 85, 108, 0.50);
  font-size: 16px;
  line-height: 24px;
}

.top_footer .right .btn {
  width: 150px;
  border: 1px solid #20AD96;
  background: #20AD96;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  margin-left: 16px;
}




/*-------------------- main footer section --------------------*/

#main_footer {
  margin: 64px 0 48px 0;
}

#main_footer .flex {
  align-items: flex-start;
}

#main_footer .footer_left p {
  color: rgba(74, 85, 108, 0.50);
  font-size: 16px;
  line-height: 24px;
  margin-top: 32px;
}

#main_footer .footer_middle h4,
#main_footer .footer_right h4 {
  color: #333461;
  font-size: 14px;
  font-weight: 800;
  margin-bottom: 16px;
}

#main_footer .footer_middle ul li,
#main_footer .footer_right ul li {
  margin-bottom: 12px;
}

#main_footer .footer_middle ul a,
#main_footer .footer_right ul a,
#main_footer .footer_right ul li {
  color: rgba(74, 85, 108, 0.50);
  font-size: 16px;
}



/*-------------------- nav section --------------------*/
/*-------------------- nav section --------------------*/